
<html xmlns:th  = "http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Clients Management</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/Default-Theme.css}" />

</head>
<body>
    <div class = "container">
        <div class = "row">
            <h1>
               List of Clients
            </h1>
        </div>
        <table class = "table table-striped table-bordered">
            <thead class = "table-dark">
                <tr class = "tab">
				
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Discount</th>
                    <th>Order №</th>
                    <th>Role</th>
                    <th>Password</th>
					<th>Actions</th>
					<th>Orders</th>
					
                </tr>
            </thead>
            <tbody>
                <!--/*@thymesVar id="clients" type="Client"*/-->
                <tr th:each = "Client : ${clients}">
                    <td th:text = "${Client.getFirstName()}"></td>
                    <td th:text = "${Client.getSecondName}"></td>
                    <td th:text = "${Client.getEmail}"></td>
                    <td th:text = "${Client.getDiscount()}"></td>
                    <td th:text = "${Client.getOrders_number()}"></td>
                    <td th:text = "${Client.getRole().getName()}"></td>
                    <td th:text = "${Client.getPassword()}"></td>
                    <td th:text = ""></td>
                    <td> <button><a th:href= "@{/orders/privateOrders/{id}(id=${Client.getId()})}"></a> </button></td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>