<html lang="eng" xmlns:th  = "http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
	<head >
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/Default-Theme.css}" />
	</head>
	<body>
	
		<header>
			<h1>Create order</h1>
		</header>
		
		
			<table id = 'orderMenu'>
				
					<tr><th>
						<button type = "button"><a th:href = "@{/orders/addMotherboard/{id}(id = ${clientForOrder.getId()})}">Add Motherboard</a></button>
						
					</th><th><label>none</label></th></</tr>
					<tr><th>
						<button type = "button"><a th:href = "@{/orders/addMotherboard/{id}}">Add CPU</a></button>
						
					</th>
					<th><label>none</label></th></tr>
					<tr><th>
						<button type = "button"><a th:href = "@{/orders/addMotherboard/{id}}">Add GPU</a></button>
						
					</th><th><label>none</label></th></</tr>
					<tr><th>
						<button  type = "button"><a th:href = "@{/orders/addMotherboard/{id}}">Add RAM</a></button>
						
					</th><th><label>none</label></th></</tr>
					<tr><th>
						<button type = "button"><a th:href = "@{/orders/addMotherboard/{id}}">Add STORAGE</a></button>
						
					</th><th><label>none</label></th></</tr>
				
				
				<tr><th><button id = 'makeOrder' type = "submit"> Make order </button></th>
					 </tr>
				
				
			</table>


		</form>
		<br>
		<br>
		<br>
		
	</body>
</html>