<html lang="eng" xmlns:th  = "http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
	<head >
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/Default-Theme.css}" />
	</head>
	<body>
	
		<header>
			<h1>Create new order</h1>
		</header>
		<h1>Choose motherboard</h1>
		<form th:action = "@{/orders/new/{id}}" th:object = "${assembly}" method = "POST">
			<table>
				<tr>
					<td>
						<button th:href = "@{/orders/addMotherboard/{client_id}}">Add Motherboard</button>
					</td>
					<td>
						<button th:href = "@{/orders/addMotherboard/{id}}">Add CPU</button>
					</td>
					<td>
						<button th:href = "@{/orders/addMotherboard/{id}}">Add GPU</button>
					</td>
					<td>
						<button th:href = "@{/orders/addMotherboard/{id}}">Add RAM</button>
					</td>
					<td>
						<button th:href = "@{/orders/addMotherboard/{id}}">Add STORAGE</button>
					</td>
				
				</tr>
				<tr>
					<button type = "submit"> Make order </button>
				</tr>
			</table>


		</form>
		<br>
		<br>
		<br>
		
	</body>
</html>