<html lang="eng" xmlns:th  = "http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
	<head >
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/Default-Theme.css}" />
	</head>
	<body>
	
		<header>
			<h1>Create new user</h1>
		</header>
		<br>
		<br>
		<br>
		<article class = "content">
			<div class ="editor">
				<form th:action = "@{/clients/all}" th:object = "${client}" method="POST">
					<label>Login
						<input type="text" name = "login" th:field="*{login}" placeholder = "Enter login"></label>
						<small th:if = "${#fields.hasErrors('login')}" th:errors = "*{login}"></small>;
					<label>Full Name
						<input type="text"name = "fullName" th:field="*{fullName}" placeholder = "Enter full name">
						<small th:if = "${#fields.hasErrors('fullName')}" th:errors = "*{fullName}"></small>;
					</label>
					<label>Email
						<input type="email" name = "email" th:field="*{email}" placeholder = "Enter email">
						<small th:if = "${#fields.hasErrors('email')}" th:errors = "*{email}"></small>;
					</label>
					<label>Password
						<input type="password" name = "password" th:field="*{password}" ></label>
						<small th:if = "${#fields.hasErrors('password')}" th:errors = "*{password}"></small>;
					<button type = "submit"class="ipsButton ipsButton_primary">Confirm</button>
			
				</form>
			</div>
		</article>
	</body>
</html>