<html lang="eng" xmlns:th  = "http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/Default-Theme.css}" />
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<header>
    <h1>Update client</h1>
</header>
<br>
<br>
<br>
<article class = "content">
    <div class ="editor">
        <form th:action = "@{/clients/{id}(id = ${client.getId()})}" th:object = "${client}" method="POST">
			<label>Id<input type="text" name = "id" th:field="*{id}" placeholder = "Enter id"></label>
            <label>First Name<input type="text" name = "firstName" th:field="*{firstName}" placeholder = "Enter new name"></label>
            <label>Second Name<input type="text" name = "secondName" th:field="*{secondName}" placeholder = "Enter new second name"></label>
            <label>Email<input type="email" name = "email" th:field="*{email}" placeholder = "Enter email"></label>
            <label>Password<input type="password" name = "password" th:field="*{password}" ></label>
            <button type = "submit" class="ipsButton ipsButton_primary">Confirm</button>

        </form>
    </div>
</article>
</body>
</html>