<html lang="eng" xmlns:th  = "http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/Default-Theme.css}" />
</head>
<body>

<header>
    <h1>Update client</h1>
</header>
<br>
<br>
<br>
<article class = "content">
    <div class ="editor">
        <form th:action = "@{/clients/edit/{id}(id = ${client.getId()})}" th:object = "${client}" method="POST">
			<label>Id<input type="text" name = "id" th:field="*{id}" placeholder = "Enter id"></label>
            <label>First Name<input type="text" name = "fullName" th:field="*{fullName}" th:value = "${client.getFullName()}" placeholder = "Enter full name"></label>
            <label>Login<input type="text" name = "login" th:field="*{login}" th:value = "${client.getLogin()}"placeholder = "Enter login"></label>
            <label for = "role">Role:</label>
			<select id = "role" name = "role_id">
				<span th:each = "role: ${roles}">
					<option th:if ="${role.getId() == client.getRole().getId()}" th:selected = "${true}" th:text = "${role.getName()}"
					th:value = "${role.getId()}">
					<option th:text ="${role.getName()}" th:unless= "${role.getId() == client.getRole().getId()}" th:value = "${role.getId()}"
					th:value = "${role.getId()}">
				</span>
            <label>Email<input type="email" name = "email" th:field="*{email}" placeholder = "Enter email"></label>
            <label>Password<input type="password" name = "password" th:field="*{password}" ></label>
            <button type = "submit" class="ipsButton ipsButton_primary">Confirm</button>

        </form>
    </div>
</article>
</body>
</html>