<html xmlns:th  = "http://www.thymeleaf.org" lang="eng">

	<head>
		<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />

			<title>Entrance page</title>
			<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/Desctop/artproject2020/cardmaker-master/css/Style.css" />
			<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/Desctop/artproject2020/cardmaker-master/css/Default-Theme.css" />
	</head>
		 
	<body>
		<header>
			<h1>Computer Assembly System</h1>
		</header>
		<br>
		<br>
		<article class = "content">
			<section align ="center">
				<button class="ipsButton ipsButton_primary">
					<a href="SignUp.html">Sign up</a>
				</button>
				<button class="ipsButton ipsButton_primary">
					<a href="LogUp.html">Login</a>
				</button>
			</section>
		</article>
	</body>
</html>