<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Login into system</title>
		<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/Desctop/artproject2020/cardmaker-master/css/Style.css" />
		<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/Desctop/artproject2020/cardmaker-master/css/Default-Theme.css" />
	</head>
	<body>
		<header>
			<h1>Computer Assembly System</h1>
		</header>
		<br>
		<br>
		<article class = "content">
			<div class ="editor">
				<label>Login<input type="text" ></label>
				<label>Password<input type="password" ></label>
				<button class="ipsButton ipsButton_primary">
					<a href="">Enter</a>
				</button>
				<button class="ipsButton ipsButton_primary">
					<a href="Login.html">Main</a>
				</button>
			</div>
		</article>
	</body>
</html>