<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/Default-Theme.css}" />
	</head>
	<body>
		<header>
			<h1>Create new user</h1>
		</header>
		<br>
		<br>
		<br>
		<article class = "content">
			<div class ="editor">
				<form th:action = "@{/clients}" th:object = "${client}" method="POST">
					<label>First Name<input type="text" name = "firstName" th:field="*{client.firstName}" placeholder = "Enter name"></label>
					<label>Second Name<input type="text"name = "secondName" th:field="*{secondName}" placeholder = "Enter second name"></label>
					<label>Email<input type="email" name = "email" th:field="*{email}" placeholder = "Enter email"></label>
					<label>Password<input type="password" name = "password" th:field="*{password}" ></label>
					<button type = "submit"class="ipsButton ipsButton_primary">Confirm</a></button>
			
				</form>
			</div>
		</article>
	</body>
</html>